@import url('@/styles/theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-base, 'Inter', Arial, sans-serif);
    background: var(--color-background, #fff);
}

main {
    height: auto;
    width: calc(100%- padding 24px);
}